.contactsBlock{
    background-color: #ffcccc;
}

.contactsBlockContainer{
    flex-direction: column;
    padding-bottom: 50px;

}
input{
    width: 300px;
}

textarea{
    width: 302px;
}

.formContacts{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.send{
    padding: 7px 40px;
}
