@import '../../common/styles/scss/variables.scss';

.skill {
  width: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  margin: 30px;
  color: $textColor;
  padding-left: 20px;
  padding-right: 20px;

  .icon {
    width: 100px;
    height: 100px;
    background-color: $bgColor2;
    transform: rotate(45deg);
    margin-top: 30px;

    .iconImage {
      background-position: center;
      transform: rotate(-45deg);
      width: 60%;
      height: 60%;
      margin-top: 20px;
      margin-left: 20px;
      //background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  h3 {
    padding-top: 20px;
    font-weight: 400;
  }

  .discription {
    text-align: center;
    font-weight: 300;
  }
}





