.skill{
    width: 300px;
    background-color: #dac2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.icon{
    width: 100px;
    height: 100px;
    background-color: #9f9d9d;
}

.discription{
    text-align: center;
}