.myWorkBlock {
    min-height: 50vh;
    background-color: #f6e6e9;
    padding-bottom: 50px;

}

.myWorkContainer {
}

.title {
    background-color: #b8cad9;
}

.myWorks{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}