@import "../common/styles/scss/variables";

.footerBlock{
  background-color: $bgColor2;

}

.footerBlockContainer{
    flex-direction: column;
    font-family: $TitleFontFamilyn;
    color: $textColor;
}

.title{
  margin: 50px 0 50px 0;
  font-weight: 600;
}

.friends{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    max-width: 400px;
    width: 100%;
}

.icon{
    width: 60px;
    height: 60px;
    background-color: #9f9d9d;
    flex-direction: row;
}

.allReserved{
  font-weight: 400;
  margin: 50px 0 50px 0;
}