.distantWorkBlock {

    background-color: #d0ffc9;

}

.distantWorkContainer {
    flex-direction: column;
    min-height: 20vh;
    padding-bottom: 50px;
}

.title {

}

.hireMe{
    padding: 7px 40px;
}